body{
	background-color: #101010;
}

#z_div_navbar{
	margin-bottom: 0px;
    border-width: 0px;
}

.carousel-inner > .item > img{
	width: 100%;
	margin:auto;

}

#z_div_win8block{
	 padding:0px;
}

#z_div_win8block_content{
	 padding-top:40px;
	 padding-bottom:40px;
}

#z_div_win8block_header{
    color: white;
}

#z_div_win8block_content_menu{
    position:absolute;
    bottom:0;right:0;line-height:24px;opacity:0.8;
    filter:Alpha(opacity=80);
}

#z_div_win8block_content_title{
    font-size:24px;
    margin-left:0px;
    display:inline-block;
}

#z_div_win8block_content_ads {
    background-color:#333333;
    padding:5px;
}

#z_div_win8block_content_ads > img,#z_div_win8block_content_ads  div{
    padding:0px;
    margin:0;
}

#z_div_win8block_content_ads  img,#z_div_win8block_content_ads  img {
    padding:5px;
    width:100%;
}
