body{
	background-color: #101010;
}

/*滑动动画效果*/
.slideanim {visibility:hidden;}
.slidein {
    /* The name of the animation */
    animation-name: slidein;
    -webkit-animation-name: slidein;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}
@keyframes slidein {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slidein {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/*滑动动画效果结束*/

#z_div_navbar{
	margin-bottom: 0px;
    border-width: 0px;
}

.carousel-inner > .item > img{
	width: 100%;
	margin:auto;

}

#z_div_menu{
	z-index:100;
}



/**
 *win8-block
 */

#z_div_win8block{
	 padding:0px;
	 background:url(../img/background-onMovie.jpg);
}

#z_div_win8block_content{
	 padding-top:40px;
	 padding-bottom:40px;
}

#z_div_win8block_header{
    color: white;
    position:relative;
}

#z_div_win8block_content_more{
    position:absolute;
    bottom:0;
    right:0;
    line-height:24px;
    opacity:0.8;
    filter:Alpha(opacity=80);
}

#z_div_win8block_content_title{
    font-size:24px;
    margin-left:0px;
    display:inline-block;
}

#z_div_win8block_content_title>span{
	font-size: 20px;
}

#z_div_win8block_content_ads {
    background-color:#333333;
    padding:5px;
}

#z_div_win8block_content_ads > img,#z_div_win8block_content_ads  div{
    padding:0px;
    margin:0;
}

#z_div_win8block_content_ads  img{
    padding:5px;
    width:100%;
}

.z_div_win8block_content_item{
	position:relative;
}

.z_div_win8block_content_item_word{
	position:absolute;
	color:#fff;
	z-index:10;
	margin:5px;
	width:100%;
	line-height:100%;
	top:25%;
	opacity:0;
}


/**
 *即将上映
 */
#z_div_comesoon{
    padding:0;
    color:white;
		background-color:#272727;
}

#z_div_comesoon_header{
    padding-top: 40px;
		position:relative;

}

#z_div_comesoon_header_title{
    font-size: 24px;
}

#z_div_comesoon_header_title > span{
	 font-size:20px;
}

#z_div_comesoon_header_more{
    position:absolute;
    bottom:0;
    right:0;
    line-height:24px;
    opacity:0.8;
    filter:Alpha(opacity=80);
}

#z_div_comesoon_content{
	padding:0 0 60px 0;
}

#z_div_comesoon_content > hr{
	border-color:red;
	border-width:2px;
}

.z_div_comesoon_item{
	padding-left:0;
	padding-right:0;
}

.z_div_3Drevolve_item{
	-webkit-perspective:500px;      /*透视距离*/
	-moz-perspective:500px;
}

.z_div_3Drevolve_card{
			position:relative;
			width:100%;
			-webkit-transform-style:preserve-3d;
			-webkit-transition-duration:1s;
			-moz-backface-visibility:hidden;
			-moz-transform-style:preserve-3d;
			-moz-transition-duration:1s;
}

.z_div_3Drevolve_front,.z_div_3Drevolve_back{
	position: absolute;
	width: 100%;
	-webkit-transform-style:preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-transform-style:preserve-3d;
	-moz-backface-visibility: hidden;
}

.z_div_3Drevolve_front > img{
	width:100%;
}

.z_div_3Drevolve_back{
		background:url(../img/comesoon_ad1_back.png);
		-webkit-transform:rotateY(180deg);
		-moz-transform:rotateY(180deg);
}

.z_div_3Drevolve_back > h1{
	color:white;
	text-shadow:1px 1px 4px #000;
}

.z_div_3Drevolve_back > h1 > span{
	font-size:20px;
}

.z_div_3Drevolve_item:hover .z_div_3Drevolve_card{
		-webkit-transform:rotateY(180deg);
		-moz-transform:rotateY(180deg);
}

/**
 *影院介绍
 */

#z_div_cinema{
    padding:0;
    color:#000;
		background:#e1e1e1;
		padding:20px 0;
}

#z_div_cinema_header{
    padding-top: 40px;
		position:relative;
}

#z_div_cinema_header_title{
    font-size: 24px;
}

#z_div_cinema_header_title > span{
	 font-size:20px;
}

#z_div_cinema_header_more{
    position:absolute;
    bottom:0;
    right:0;
    line-height:24px;
    opacity:0.8;
    filter:Alpha(opacity=80);
}

#z_div_cinema_container{
	margin:0 0 40px 0;
	background-color:#3d3d3d;
	padding:0;
}

#z_div_cinema_content_items{
	padding:0;
	margin:45px 0;
	background-color:lightgreen;
	height:250px;
}

.z_div_cinema_content_all{
	height: 100%;
	float:left;
	color: white;
}

.z_div_cinema_content_item > div{
    padding: 20px 0;
    font-size: 24px;
    margin:0 auto;
    right:auto;
    left: auto;
    width: 34px;    /*不改变会跑偏*/

}

/* 竖排从左到右，从上往下 */
.z_div_cinema_content_item > div > div > span{
    -ms-writing-mode: tb-rl;
 /* old syntax. IE */
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
 /* new syntax */
    -webkit-text-orientation: upright;
    -moz-text-orientation: upright;
    -ms-text-orientation: upright;
    text-orientation: upright;
}

.z_div_cinema_content_item .z_div_cinema_content_item_intro{
	display: none;
	opacity: 0;
	filter: opacity(0);
}

.z_div_cinema_content_item .z_div_cinema_content_item_img{
	display: none;
}


.z_div_cinema_content_item_display{
	color:white;
	height:100%;
	padding:20px;
	font-size:20px;
	float:left;
}

.z_div_cinema_content_item_display .z_div_cinema_content_item_intro > span{
	word-wrap: break-word;
	word-break: normal;
}

.z_div_cinema_content_item_display .z_div_cinema_content_item_img{
		padding:0px;
		margin-left:10px;
		margin-top:50px;
}

.z_div_cinema_content_all > div > .col-sm-5{
	padding:0px;
	margin:0px;
}

.z_div_cinema_content_item_img > .img-responsive{
	width:100%;
	-webkit-filter: opacity(30%);
	filter: opacity(30%);
}

/*脚部*/

#z_div_footer{
    line-height: 50px;
    color: white;
    background-color: #3d3d3d;
}


@media screen and (max-width: 768px) {
		.z_div_cinema_content_item_img{
				display: none;
		}
}
