/*防止出现形变*/
*{
	margin: 0px;
	padding: 0px;
}

/*预设置背景，为了以后将内容整合的时候不会因为色差出现大幅度修改。*/
body{
	background-color: #c02a2e;
}

/**********菜单开始************/
#z_div_menu{
	background: url(../img/menu_background.png);
	width: 100%;
	height: 100px;
	position: absolute;
}

#z_div_menu_logo{
	float: left;
}

#z_div_menu_logo > img{

	width: 60px;
	height: 60px;
	padding: 20px;
}

/**********菜单栏选项********/
.z_div_menu_option{
	color: #fff;
	float:left;
	font-family: "兰亭黑-简 中黑","黑体-简","黑体";
	font-size: 28px;
	padding: 0 60px;
	line-height: 100px;
	top: 50px;
}

.z_btn_down:hover{
	background-color: #000;
}


#z_div_menu_login{
	float: right;
	font-size: 16px;
	padding: 0;
	line-height:100px;
	padding-right: 40px;
}

/*************菜单列表即浏览器小于740px之后的菜单****************/
#z_div_menu_all > img{
	width: 40px;
	height: 30px;
	padding:35px 30px;
	float: right;

}

/*下拉菜单列表*/
#z_div_menu_list {
	position: absolute;
	right: 0px;
	width: 100px;
	display: none;	
}

#z_div_menu_list li { 
	list-style: none; 
	color:#fff; 
	font-size: 24px; 
	text-align: center; 
	height: 40px;
	line-height: 40px;
	top: 50%;
}

#z_div_menu_list li:hover{ 
	background-color: #000;
}

#z_div_menu_list{ 
	background: #272727;
	margin-top: 100px;
	/*阴影效果*/
	-moz-box-shadow: 5px 5px 2px #111; /* 老的 Firefox */
	box-shadow: 5px 5px 2px #111;
}
/**********菜单结束*********/

/*根据浏览器自适应*/
@media screen and (max-width: 740px) {
	.z_div_menu_option{
		display: none;
	}
}

@media screen and (min-width: 740px){
	#z_div_menu_all{
		display: none;
	}
}
