body{
  background-color:#e3e3e3;
}

h3{
  margin-left:50px;
}

.z_div_content{
  background-color:white;
  padding-top:50px;
  padding-bottom: 50px;
}

form{
  position:relative;
}

#z_btn_submit{
  margin-left:50px;
}
