#z_div_all{
  padding:50px 0 0 0;
}

#z_div_sidebar{
  background-color:rgb(34,34,34);
  width:16.6666667%;
  position:relative;
  float:left;
}



#z_div_sidebar > nav{
  color:white;
}

#z_div_content{
  background-color:white;
  width:66.66666667%;
  position:relative;
  float:left;
  left: 8.33333333%;
  margin-top:10px;
}


#z_div_navbar{
  margin-bottom: 0px;
}

.z_label_just4show{
   padding-top:7px;
   padding-left:15px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
   background-color: white;
   color:rgb(34,34,34);
 }

.nav-pills > li > a{
  color:white;
}
.nav-pills > li > a:focus, .nav-pills > li > a:hover{
  color:rgb(34,34,34);
}
